<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">模板exp <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="/Mobile/SalesOne">专卖1</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">模板示例 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="/Template/Demo/agency/index.html">agency</a></li>
                            <li><a target="_blank" href="/Template/Demo/bold/index.html">bold</a></li>
                            <li><a target="_blank" href="/Template/Demo/clean/index.html">clean</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a target="_blank" href="/Template/Demo/closest/index.html">closest</a></li>
                            <li><a target="_blank" href="/Template/Demo/crew/index.html">crew</a></li>
                            <li><a target="_blank" href="/Template/Demo/epic/index.html">epic</a></li>
                            <li><a target="_blank" href="/Template/Demo/foodee/index.html">foodee</a></li>
                            <li><a target="_blank" href="/Template/Demo/fotografy/index.html">fotografy</a></li>
                            <li><a target="_blank" href="/Template/Demo/guide/index.html">guide</a></li>
                            <li><a target="_blank" href="/Template/Demo/hold/index.html">hold</a></li>
                            <li><a target="_blank" href="/Template/Demo/hydrogen/index.html">hydrogen</a></li>
                            <li><a target="_blank" href="/Template/Demo/KAdmin/index.html">KAdmin</a></li>
                            <li><a target="_blank" href="/Template/Demo/magazine/index.html">magazine</a></li>
                            <li><a target="_blank" href="/Template/Demo/neos/index.html">neos</a></li>
                            <li><a target="_blank" href="/Template/Demo/nitro/index.html">nitro</a></li>
                            <li><a target="_blank" href="/Template/Demo/outline/index.html">outline</a></li>
                            <li><a target="_blank" href="/Template/Demo/personal/index.html">personal</a></li>
                            <li><a target="_blank" href="/Template/Demo/ranger/index.html">ranger</a></li>
                            <li><a target="_blank" href="/Template/Demo/render/index.html">render</a></li>
                            <li><a target="_blank" href="/Template/Demo/simple/index.html">simple</a></li>
                            <li><a target="_blank" href="/Template/Demo/union/index.html">union</a></li>
                            <li><a target="_blank" href="/Template/Demo/valet/index.html">valet</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
